body{
    background-color: #253439;
}

/* Color CSS */
.grey {
    background-color:  #899597;
   
}
.black {
    background-color:#253439 ;
}

/* Navbar */
.navbar {
    background-color: #FFFFFF;
    ;
}

/* Page content div */
.page-content-box {
    position: absolute;
    top: 20%;
    left: 13%;
    width: 80%;
    height: 78%;
}

.profile {
    position: absolute;
    top: 2%;
    left: 3%;
    width: 67%;
    padding: 0.5% 0% 0% 1.5%;
}


.profile-pic-img {
    position: absolute;
    top: 25%;
    left: 8%;
    width: 13%;
    height: 14%;
}

.message-btn {
    position: absolute;
    top: 43%;
    left: 8%;
    background-color:#253439 ;
    width: 13.5%;
}

.user-desc {
    position: absolute;
    top: 13%;
    left: 25%;
    padding: 1% 2%;
}

.follow-btn {
    position: absolute;
    top: 5%;
    right: 2%;
    width: 25%;
    height: 20%;
    background-color:#253439 ;
}

.insta-img {
    margin: 0 4% 0 0;
}
.fb-img {
    margin: 0 2% 0 2%;
}
.fb-img-c {
    margin: 0 0 0 2%;
}

/* Followers div */
.followers-div {
    position: absolute;
    top: 13%;
    right: 2%;
    width: 25%;
    height: 30%;
    text-align: center;
}

                     /* Community-div */
                     .community-div {
                        position: absolute;
                        top: 45%;
                        right: 2%;
                        width: 25%;
                        height: 55%;
                    }                     
                    
                    .community-count {
                        margin: 0% 0%;
                        padding: 2% 8%;
                    }
                    
                    .c-c-head {
                        margin: 3% 0%;
                        padding: 2% 2%;
                        text-align: center;
                    }

/* Questions-Div */
.questions-div {
    position: absolute;
    top: 55%;
    left: 13%;
}

.question-h4 {
    display: inline-block;
}
.dropdown-toggle {
    display: inline-block;
}